@model SchoolSchedule.Models.Schedule


@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

@using (Html.BeginForm("Update", "Schedule", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Student Name</th>
                <th>Student Last Name</th>
                <th>Subject</th>
                <th>Class</th>
                <th>Teacher Last Name</th>
            </tr>
        </thead>

        <tbody>


            <tr>
                <td>@Html.DisplayFor(m => m.Id)</td>
                <td>@Html.TextBoxFor(m => m.StudentName)</td>
                <td>@Html.TextBoxFor(m => m.StudentLastName)</td>
                <td>@Html.TextBoxFor(m => m.Subject)</td>
                <td>@Html.TextBoxFor(m => m.Class) </td>
                <td>@Html.TextBoxFor(m => m.TeacherLastName)</td>


                <td>
                    <input type="submit" value="Update" class="btn btn-success" />
                </td>
            </tr>

        </tbody>
    </table>

    <p> @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" }) </p>
}








