@model IEnumerable<SchoolSchedule.Models.Schedule>

@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Student Name</th>
            <th>Student Last Name</th>
            <th>Subject</th>
            <th>Class</th> 
            <th>Teacher Last Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var schedule in Model)
        {
            <tr>
                <td>@schedule.Id</td>
                <td>@schedule.StudentName</td>
                <td>@schedule.StudentLastName</td>
                <td>@schedule.Subject</td>
                <td>@schedule.Class</td>  
                <td>@schedule.TeacherLastName</td>

                
            </tr>
        }
    </tbody>
</table>
