@model SchoolSchedule.Models.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm("Update", "Subject", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Subject Id</th>
                <th>Name of subject</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(m => m.Id)</td>
                <td>@Html.TextBoxFor(m => m.Name)</td>
                <td>@Html.TextBoxFor(m => m.Class)</td>
                <td>
                    <input type="submit" value="Update" class="btn btn-success" />
                </td>
            </tr>
        </tbody>
    </table>
}

@using (Html.BeginForm("Delete", "Subject", new { id = Model.Id }, FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <input type="submit" value="Delete" class="btn btn-danger" />
}

<!--Modal-->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">Result</h5>
                <button id="closeModalButton" type="button" class="close hiding" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="resultMessage"></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault();

                var form = $(this);
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response) {
                        $('#resultMessage').text(response.message || 'Changes made successfully');
                        $('#resultModal').modal('show');
                    },
                    error: function () {
                        $('#resultMessage').text('An error occurred while processing your request.');
                        $('#resultModal').modal('show');
                    }
                });
            });
        });

        $('#closeModalButton').on('click', function () {
            $('#resultModal').css('visibility', 'hidden').modal('hide');
            window.location.href = '@Url.Action("Index", "Subject", new { Id = Model.Id })';
        });
    </script>
}
